
/*#TABULATOR*/
.tabulator{
    margin-bottom:1px!important;
    color: var(--tb-primary-dark-grey);
    --tb-primary-dark-grey: #222c3c;
    --tb-light-blue: #eff6ff;
    --tb-header-background: #cccccc25;
    --tb-outer-border: #f1f1f1;
}





.table-container {
    background-color: var(--tb-outer-border) ;
    width: 100%;
    border: 10px solid var(--tb-outer-border);
    /* box-shadow: inset 0px 1px 7px 4px #acacab; */
}


/* -------------------------------------------------------------------------- */
/* Selecting rows */
.tabulator-row.tabulator-selected {
    background-color:#fcfbe0fc;
    &:hover {
        background-color:#fcfbe0fc;
    }
}

.tabulator-row.tabulator-selectable:hover:not(.tabulator-row.tabulator-selected){
    background-color:#f9f9f9fc;
}
/* -------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------- */
/*#CELLS*/

.tabulator-cell {
    display: ;
}

/* Just cells */
.tabulator .tabulator-tableholder{
    background-color: var(--viewport-grey)!important;
}
/* CELL */
.tabulator-row .tabulator-cell {
    /* background-color: #ffffff!important; */
    border-right: 1px solid #dddddd59;
}


/* HEADER */
.tabulator .tabulator-header {
    border-bottom: 5px solid var(--tb-outer-border);
    font-family: 'Roboto Condensed';
    background-color: var(--tb-header-background) !important;
    color: var(--tb-primary-dark-grey);
    .tabulator-col {
        background-color: var(--tb-header-background) !important;
    }
}

.tabulator .tabulator-header .tabulator-col{
    /* border: 1px solid black; */
}

.tabulator-header-contents {
    /* outline: 4px solid var(--primary-dark-grey); */
}


.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
    padding-right: 5px;
}





/*#CUSTOM COLUMN CLASSES*/

.tabulator-icon-column {
    user-select: none;
    text-align: center;
    /* width:10em; */
}


.tabulator .material-icons-outlined {
    vertical-align:middle;
}







/*
# STRUCTURE OF TABLE AND BUTTONS
Self contained
*/
.outer-table-container {
    /* display: flex; */
    grid-row: 3/20;
    grid-column: 1/21;
    height:100%;
    width: 100%;
    gap: 10px;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    .table-controls {
        display: grid;
        grid-template-columns: repeat(10,1fr);
        gap: 4px;
        grid-auto-flow: column;
        align-items: center;
        text-wrap-mode: nowrap;
        .table_title {
            font-size: 2rem;
            font-weight: 600;
        }
    }

}


 



/*
# NOT GOING TO CHANGE
*/

.tabulator-tableholder {
    scrollbar-color: var(--tb-header-background) unset ;
}

