.google-map {
    height: 75%;
    width: 75%;
 }

 #hero-image{
    HEIGHT: 100%;
    WIDTH: 100%;
    .banner {
       filter: brightness(0.75);
       HEIGHT: 100%;
       WIDTH: 100%;
       object-fit: cover;
       /* position: fixed; */
    }
 }

 .title-image-overlay {
    position: absolute;
    top:8%;
 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    line-height: 0.8;
    font-weight: 700;
    letter-spacing: 0.104em;
    /* text-shadow: -2px 4px 7px black; */
    font-size: 2.7rem;
    color: rgba(58, 58, 58, 0.815);
 }

 #logos-container{
    display: flex;
    flex-direction: row;
    .inline-logo {
       align-self: center;
       width: 26rem;
 
       img{
          width: 100%;
       }
    }
 }