/*  Used on most pages other than homepage */


.grid3col {
    
    margin: 3vh 3vw 3vw 3vw;
    padding: vw;
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 0.5fr;


    gap: 1rem;
    
 
    /* Just for debugging */
    

    .grid3col-col1 {
        
    }


    .grid3col-col2 {
        border: 1px solid var(--accent-border-grey);

    }

    > div{
        margin-right: 2rem;
        
    }

    .sidebar-navigation{

        h2 {
            text-align: center;
            font-style: italic;
            color: rgb(117, 117, 117);
         }
         ul{
            margin-top:5rem;
    
            margin-left: 0rem;
            font-family: 'Source sans 3';
            line-height: 5rem;
            font-size: 2rem;
            list-style-type: none;
            .material-icons {
               font-size:1.5rem;
            }
            li div {
               display: flex;
               align-items: center;
            }
            li{
                cursor: pointer;
                box-sizing: border-box;
                padding-left:0.5rem;
                border-left:0.5rem solid rgba(49, 49, 187, 0);
            }
            li:hover {
                background-color: #d0daeb71;
            }
            li.active-navigation-item{
                border-left:0.5rem solid var(--accent-color-3);
            }
            a{
                width:100%;
                display: block;
               
            }
            
            
         
         }
        
    }

    .locations-grid {
        display:grid;
        grid-template-rows: 35rem;

        .location-container{
            display: flex;
            justify-content: space-evenly;
            
         
        }
    }
}



/*General scheme for body of a page*/
.body-text{
    
    background-color: white;
    h1,p,ul { margin:1.2rem; }
    h1 {
        line-height: 10rem;
        font-size: 3rem;
        color: var(--dark-grey);
        border-bottom: 1px solid var(--accent-border-grey);
        margin-bottom:3rem
    }
    p {
       font-size: 2rem;
       
    }

    li {
        font-size: 1.7rem;


    }
}


.dps-logo{
    height: 5rem;
}










