/*  Used on most pages other than homepage */
.page-ux .page-ux-col2 { border: 1px solid var(--accent-border-grey); }















.page-ux .locations-grid { display:grid; grid-template-rows: 35rem 35rem 35rem; }
.page-ux .locations-grid .location-container{ display: grid; grid-template-columns: 1.2fr 10rem 1fr; }
.page-ux .locations-grid .location-container div{ margin:2rem; }


/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 */





/*General scheme for body of a page*/
.body-text { 
    background-color: white; 
}
.body-text h1,.body-text p,.body-text ul,.body-text h2 { margin:1.2rem; }


.body-text h1 {
    white-space: nowrap; 
    line-height: 10rem; 
    font-size: clamp(7vw, 1vw + 1rem, 4rem);
    
    color: var(--dark-grey); 
    border-bottom: 1px solid var(--accent-border-grey);
    margin-bottom:3rem 
}


.body-text p {
     font-size: 2rem; 
}

.body-text li { 
    font-size: 1.7rem; 
}

/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 */


.dps-logo{ height: 5rem; }

/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 */









@media screen and (min-width: 1185px) { 
    .page-ux {
        margin: 3vh 3vw 3vw 3vw;
        display: grid;
        grid-template-columns: 0.7fr 2.3fr 0.5fr;
        gap: 1rem;
    }
    
    
    .page-ux .page-ux-col3 .sidebar-section{ margin-left: 1rem; margin-top: 2rem; }
    .page-ux .page-ux-col3 .sidebar-section h2{ color:grey; background-color: rgba(107, 107, 107, 0.062); }
    .page-ux .sidebar-navigation h2 { text-align: center; font-style: italic; color: rgb(117, 117, 117); }
    .page-ux .sidebar-navigation ul{
        margin-top:5rem;
        margin-left: 0rem;
        font-family: 'Source sans 3';
        line-height: 5rem;
        font-size: 2rem;
        list-style-type: none;   
    }
    .page-ux .sidebar-navigation ul li div { display: flex; align-items: center; }
    .page-ux .sidebar-navigation ul li{ cursor: pointer; box-sizing: border-box; padding-left:0.5rem; border-left:0.5rem solid rgba(49, 49, 187, 0); }
    .page-ux .sidebar-navigation ul li:hover { background-color: #d0daeb71; }
    .page-ux .sidebar-navigation ul li.active-navigation-item{ border-left:0.5rem solid var(--accent-color-3); font-weight: 700; }
    .page-ux .sidebar-navigation ul li.sub-navigation-item{ font-size: 1.8rem; }
    .page-ux .sidebar-navigation ul a{ width:100%; display: block; }
    .page-ux .sidebar-navigation ul .material-icons { font-size:1.5rem; }
    
}
 


/* Small laptop? --------------------*/
@media screen and (min-width: 846px) and (max-width: 1185px) { 
    .page-ux .page-ux-col1 {display: none;}


    
}
 
 
 /* In betweena phone and desktop --------------------*/
 @media screen and (min-width: 481px) and (max-width: 845px) { 
    .page-ux .page-ux-col1 {display: none;}
}
 
 /* Phone --------------------*/
 @media screen and (max-width: 480px) { 
    .page-ux .page-ux-col1 {display: none;}
}














