
:root {

    /* --primary-color: #252F3E;
     --primary-color: #324b5b;
    --accent-color-1 : #e9530d;
    --accent-color-1: #252F3E; */

    /* --primary-color: #094c79; */
    --primary-color: #2b414f;
    --accent-color-1: color-mix(in srgb,var(--primary-color),#ffffff 15%);
    --accent-color-3 : color-mix(in srgb,var(--primary-color),#5698e2 100%);
    --accent-border-grey : #cccccc;

    --carbon_fiber : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAPCAQAAAC/mnxTAAAAIUlEQVR4AWPc7sywl4GBgUSScTsD6YBsbYPNkaOOHHUkALSqN8mc6mmTAAAAAElFTkSuQmCC");
    --black         : #1b1b1b;
    --text-black    : #000000cc;
    --dark-grey: #71767a;
    --grey : #878788;
    --pure-white    : #FFFFFF;
    --grey1    : #F0F0F0;
    --grey2    : #FCFCFC;
    --warm-light    : #dfdfdf;

    /* -------------------------------------------------------------------------- */
    --font1 : 'Public Sans';
    --font2 : 'Source Sans 3';
    --icon_font-material_icons : 'Material Symbols Outlined';
    --icon_font-fontawesome : 'FontAwesome';
    --icon_font-material_icons_basic : 'Material Icons';
    /* -------------------------------------------------------------------------- */

    --icon-file : '\f0f6';
    --icon-file-pdf : '\f1c1';
    --icon-file-text-solid : '\f15c';
    --icon-file-multi : '\f0c5';

    --icon-phone : '\f095';
    --icon-phone-square: : '\f87b';

    --icon-check: : '\f00c';
    --icon-check-circle: : '\f05d';

    --icon-arrow-dropdown : '\f0d7';
    --icon-arrow-dropdown-bold : '\f078';
    --icon-arrow-right : '\f0da';
    --icon-arrow-right-bold : '\f054';
    --icon-map_marker : '\f041';
    --icon-time : '\f017';
    --icon-wheelchair : '\f193';
    --icon-support : '\f1cd';
    --icon-printer : '\f02f';
    --icon-question : '\f29c';
    --icon-sign_in : '\f090';
    --icon-road : '\f018';
    --icon-calender : '\f133';

}

html{
  font-size: 62.5%;
  font-family: var(--font2)!important;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  background-image: var(--carbon_fiber);
  margin:0;
}


/* Ensure all icons have a space after them */
  .material-icons:after{
    content:'\00a0';
 }
 .material-icons:before{
  content:'\00a0';
}


