
:root{
    --border: 1px solid rgba(128, 128, 128, 0.247);
    --primary-dark-grey: #2f363d;
    --primary-color: #222c3c;
    --viewport-grey: #eff3f6;
    --active-accent: #ffc810
    /* --active-accent: #FF331F */
}




body {
    background-image: unset ;
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
}



#OUTERMOST {
    
    position: fixed;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    display: grid;
    height: 99vh;
    width: 99vw;
    /* border:1px solid grey; */
    grid-template-columns: repeat(13,14px) repeat(87, 1fr);
    grid-template-rows: repeat(100, 1%);
    grid-template-areas:
    "HEADER"
    "SIDEBAR" 
    "VIEWPORT"
    "FOOTER";
    /* a{display: block;} */

    /* -------------------------------------------------------------------------- */
    #HEADER {
        grid-area: 1 / 15 / 9 / 100;
        /* border: var(--border); */
        display: flex;
        grid-template-rows: auto;
        background-color: white;
        
        

        #HEADER-UI {
            width: 100%;

            #HEADER-UI-CONTAINER {
                color: var(--primary-color);
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                width: 80%;
                height: 100%;
                JUSTIFY-SELF: center;

                #HEADER-UI-WELCOME {
                    font-size: 3rem;
                }



            }
        }







    }
    /* -------------------------------------------------------------------------- */
    #SIDEBAR {
        grid-area: 1 / 1 / 95 / 14;
        /* border: var(--border); */
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        align-items: center;
        color: var(--header-menu-item-color);

        img {
            width: 100%;
            max-width: 100%;
            width: auto; /* Maintains aspect ratio */
            object-fit: contain; /* Ensures the image scales without cropping */
        }

        


        #SIDEBAR-TOGGLE svg{

            width: 20px;
        }


        #SIDEBAR-NAV-CONTAINER {
            width: 100%;
        }


        
        .sidebar-navigation h2 { text-align: center; font-style: italic; color: rgb(117, 117, 117); }
        
        .sidebar-navigation ul {
            margin-top:0px;
            margin-left: 0rem;
            padding-left:0px;
            font-family: 'Source sans 3';
            line-height: 5rem;
            font-size: 2rem;
            list-style-type: none;   

        }
        .sidebar-navigation ul li div { display: flex; align-items: center; }
        .sidebar-navigation ul li{ cursor: pointer; box-sizing: border-box;  border-left:0.5rem solid rgba(49, 49, 187, 0); }
        .sidebar-navigation ul li:hover { background-color: #0000002b; }
        .sidebar-navigation ul li.active-navigation-item{ border-left:0.5rem solid var(--active-accent); font-weight: 700;color: var(--active-accent)}
        .sidebar-navigation ul li.sub-navigation-item{ font-size: 1.8rem; }
        .sidebar-navigation ul a{ width:100%; display: block; }


        /* icons on sidebar */
        .sidebar-navigation ul .material-icons { 
            /* font-size:1.5rem;  */
        }

        
        

        


        




    }
    /* -------------------------------------------------------------------------- */
    #VIEWPORT {
        grid-area: 9 / 15 / 95 / 100;
        /* background-image: var(--carbon_fiber); */
        background-color: var(--viewport-grey);
        height: 100%;
        /* display: flex; */
        width: 100%;
        /* border: var(--border); */


    }
    /* -------------------------------------------------------------------------- */
    #FOOTER {
        grid-area: 96 / 1 / 100 / 100;


        /* border: var(--border); */
        
        .footer-login {
            
            justify-self: center;
            text-align: center;
            color: #8d8d8d8c;
            font-size: 1.6rem;
          }

          





    }
    /* -------------------------------------------------------------------------- */



   
}























